* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(/Memory-game/img/memory-game-bg-blWh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body header {
  margin-left: 1rem;
  margin-top: 1.5rem;
}
body header #logo {
  background-color: #ccc;
  border-radius: 50%;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
body #replay {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
body #replay #replayButton {
  visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #005f45;
  background-color: #e4c8a5;
  cursor: pointer;
  border-radius: 25px;
  border: 3px solid #ccc;
  padding-left: 1em;
  padding-top: 0.2em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  margin-bottom: 1rem;
}
body #replay #replayButton:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px rgba(204, 204, 204, 0.2);
}
body .allCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .allCards img {
  border: 3px solid #ccc;
  border-radius: 8px;
  width: 150px;
  height: 100px;
}
body .allCards .cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  perspective: 800px;
}
body .allCards .card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}
body .allCards .card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  -webkit-transform: translateX(-100%) rotateY(-180deg);
  -moz-transform: translateX(-100%) rotateY(-180deg);
  -ms-transform: translateX(-100%) rotateY(-180deg);
  -o-transform: translateX(-100%) rotateY(-180deg);
}
body .allCards .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}
body .allCards .card__face--back {
  background: none;
}
body .allCards .card__face--front {
  transform: rotateY(180deg);
}

@media screen and (min-width: 320px) and (max-width: 479.9px) {
  body {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/Memory-game/img/memory-game-bg-blWh\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    background-color: #080808;
  }
  body header {
    margin-left: -0.2rem;
    margin-top: -1rem;
  }
  body header #logo {
    width: 39%;
    height: auto;
    background-color: #ccc;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 0.3em;
  }
  body .allCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5.3rem;
    flex-direction: column;
    perspective: 45px;
  }
  body .allCards img {
    border: 3px solid #ccc;
    border-radius: 8px;
    width: 225px;
    height: 175px;
  }
  body .allCards .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 14rem);
    grid-template-rows: repeat(8, 12rem);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin-left: 12.7rem;
    margin-right: 12rem;
    margin-top: -2.5rem;
  }

  #replay {
    margin-top: 4rem;
  }
  #replay #replayButton {
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #005f45;
    background-color: #e4c8a5;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #ccc;
    margin-top: -4rem;
    margin-left: 25rem;
    margin-right: 25rem;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-right: 1em;
    padding-bottom: 0.2em;
    margin-bottom: 1rem;
  }
  #replay #replayButton:hover {
    transform: scale(4.1);
    box-shadow: 2px 2px 2px 2px rgba(204, 204, 204, 0.2);
    -webkit-transform: scale(4.1);
    -moz-transform: scale(4.1);
    -ms-transform: scale(4.1);
    -o-transform: scale(4.1);
  }
}
@media (min-width: 480px) and (max-width: 767.9px) {
  body {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/Memory-game/img/memory-game-bg-blWh\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    background-color: #080808;
  }
  body header {
    margin-left: -0.2rem;
    margin-top: -1rem;
  }
  body header #logo {
    width: 25%;
    height: auto;
    background-color: #ccc;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 0.3em;
  }
  body .allCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    flex-direction: column;
    perspective: 45px;
  }
  body .allCards img {
    border: 3px solid #ccc;
    border-radius: 8px;
    width: 225px;
    height: 175px;
  }
  body .allCards .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 13rem);
    grid-template-rows: repeat(4, 12rem);
    margin-left: 14rem;
    margin-right: 14rem;
    margin-top: -2.5rem;
  }
  body #replay {
    margin-top: 5.5rem;
  }
  body #replay #replayButton {
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #005f45;
    background-color: #e4c8a5;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #ccc;
    margin-top: -4rem;
    margin-left: 41rem;
    margin-right: 41rem;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-right: 1em;
    padding-bottom: 0.2em;
    margin-bottom: 1rem;
  }
  body #replay #replayButton:hover {
    transform: scale(2.1);
    box-shadow: 2px 2px 2px 2px rgba(204, 204, 204, 0.2);
    -webkit-transform: scale(2.1);
    -moz-transform: scale(2.1);
    -ms-transform: scale(2.1);
    -o-transform: scale(2.1);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/Memory-game/img/memory-game-bg-blWh\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: #080808;
  }
}/*# sourceMappingURL=style.css.map */