$font:"arial", sans-serif;

*{
    font-family: $font;
    text-align: center;
    background-color: #ccc;

    #dealerCards{
        img{
        width: 125px;
        height: 175px;
        margin: 1px;
        }
    }

    #yourCards{
        img{
        width: 125px;
        height: 175px;
        margin: 1px;
        }
    }

    #bust{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }

    #stay{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
}