$font: "helvetica neue", sans-serif;

*{
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body{
    h1{
        font-family: $font;
        text-align: center;
        font-weight: bolder;
    }
    div{
        /*display:flex;
        justify-content: center;*/

        #player1, #player2, #player3{
            img{
                background: none;
                border: none;
                outline: none;
            }
        }
        #img1{
            padding-top: 20px;
            margin-left: 336px;
            }
        #img2{
            padding-top: 20px;
            position: absolute;
            top: 20%;
            left: 52%;
        }
        #img3{
            position: absolute;
            left: 400px;
            top: 75%;
            visibility: hidden;
        }
    }

        button{
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            height: 80px;
            width: 140px;
            font-size: x-large;
            font-weight: bold;
            &:hover{
                transform:scale(1.2);
                }
            }
                //#rock{}
                #paper{
                    position: absolute;
                    left: 560px;
                    top: 75%;
                    visibility: hidden;
                }
                #scissor{
                    position: absolute;
                    top: 75%;
                    left: 720px;
                    visibility: hidden;
                }
            #play{
                background-color: #333;
                color: #fff;
                border-radius: 44px;
                position: absolute;
                top: 75%;
                left: 45%;
                }

                @keyframes shakeLeft{
                    0%{
                        transform: rotateY(180deg) translateY(0px);
                        }
                    50%{
                        transform: rotateY(180deg) translateY(-50px);
                        }
                    100%{
                        transform: rotateY(180deg) translateY(0px);
                        }
                }
                @keyframes shakeRight{
                    0%{
                        transform: translateY(0px);
                        }
                    50%{
                        transform: translateY(-50px);
                        }
                    100%{
                        transform: translateY(0px);
                        }
                }
    /*#feedback{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        }*/
    }