$font: "helvetica neue", sans-serif;

*{
    background-color: #ccc;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

body{
    .container{
    h1{
        font-family: $font;
        text-align: center;
        font-weight: bolder;
    }
    #players{
        font-family: $font;
        font-weight: bold;
        background-color: #333;
        color: #fff;
        border-radius: 44px;
        text-align: center;
        word-spacing: 12em;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-border-radius: 44px;
        -moz-border-radius: 44px;
        -ms-border-radius: 44px;
        -o-border-radius: 44px;
}

        #player1, #player2, #player3{
            img{
                background: none;
                border: none;
                outline: none;
            }
        }
        #img1{
            padding-top: 40px;
            margin-left: 260px;
            top: 20%;
            }
        #img2{
            padding-top: 50px;
            position: absolute;
            top: 20%;
            left: 58%;
        }
        #img3{
            padding-top: 50px;
            position: absolute;
            left: 510px;
            top: 20%;
            visibility: hidden;
        }
    }

        button{
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            height: 80px;
            width: 140px;
            font-size: x-large;
            font-weight: bold;
            &:hover{
                transform:scale(1.2);
                }
            }
                #rock{position: absolute;
                    top: 75%;
                    left: 290px;
                    visibility: hidden;}

                #paper{
                    position: absolute;
                    left: 540px;
                    top: 75%;
                    visibility: hidden;
                }
                #scissor{
                    position: absolute;
                    top: 75%;
                    left: 770px;
                    visibility: hidden;
                }
            #play{
                justify-content: center;
                background-color: #333;
                color: #fff;
                border-radius: 44px;
                position: absolute;
                top: 75%;
                left: 42%;
                }
    #feedback{
        font-family: $font;
        font-weight: bold;
        text-align: center;
        margin-right: 50px;
        }

    #endScreen{
            #endScreenContent{
                #btnReplay{
                    justify-content: center;
                    background-color: #333;
                    color: #fff;
                    border-radius: 44px;
                    position: absolute;
                    top: 75%;
                    left: 42%;
                    }
            }
        }

    }

    @keyframes shakeLeft{
        0%{
            transform: translateY(0px);
            }
        50%{
            transform: translateY(-50px);
            }
        100%{
            transform: translateY(0px);
            }
    }
    @keyframes shake{
        0%{
            transform: translateY(0px);
            }
        50%{
            transform: translateY(-50px);
            }
        100%{
            transform: translateY(0px);
            }
    }
    @keyframes shakeRight{
        0%{
            transform: translateY(0px);
            }
        50%{
            transform: translateY(-50px);
            }
        100%{
            transform: translateY(0px);
            }
            
    }
